@model IEnumerable<HealthInsurenceSystem.Models.Paymentlog>

    <head>

        <title>
            Payment Confirmation
        </title>
    </head>
    <div class="jumbotron text-center">
        <h1 class="display-3">Thank You!</h1>

        <p class="lead"><h3> Your Transaction ID is # <b>@Model.First().Paymentnumber</b></h3></p>
        <hr><br />
        <h3>Payment Amount: $<b>@TempData["data"]</b> </h3><br />
        <p> Payment done for <strong>@Model.First().Cemail</strong> for policy number <b>@TempData["Policy number"]</b> which is fall under <strong> @TempData["Policy type"]</strong> type policy.</p>
        <br />
        <p>
            Having trouble? <a href="">Contact us</a>
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Continue to homepage</a>
        </p>
    </div>
    